body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #303134;
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
}

@media screen and (max-width: 480px) {
  body {
    justify-content: normal;
  }

  .TableSX {
    min-width: 500px !important;
  }

  .TableContainer {
    width: 580px !important;
    margin: 20px !important;
  }
}